.para1{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #A6A6A6;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.para3{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style4{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style5{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style6{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style7{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style8{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style9{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style10{font-family:  'Helvetica' ,sans-serif ;
 font-size: 16px; 
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style6:visited{color:#009092; text-decoration:underline;}
.Style6:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_13{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_13:visited{color:#009092; text-decoration:underline;}
.linkStyle_13:hover{color:#FF2600; text-decoration:underline;}
.Style16{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style17{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_18{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_18:visited{color:#009092; text-decoration:underline;}
.linkStyle_18:hover{color:#FF2600; text-decoration:underline;}
.Style21{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 16px; 
 margin:0;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style22{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 word-wrap: break-word;}
.Style23{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 13px; 
 word-wrap: break-word;}
.Style24{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 word-wrap: break-word;}
.linkStyle_25{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FEFB00 #FF2600 */
 word-wrap: break-word;}
.linkStyle_25:visited{color:#009092; text-decoration:underline;}
.linkStyle_25:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_28{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_28:visited{color:#009092; text-decoration:underline;}
.linkStyle_28:hover{color:#FF2600; text-decoration:underline;}
.Style31{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #584D4C;
 word-wrap: break-word;}
.linkStyle_32{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 13px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_32:visited{color:#009092; text-decoration:underline;}
.linkStyle_32:hover{color:#FF2600; text-decoration:underline;}
.Style35{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 margin:0;
 color: #5A4C4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style36{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 color: #5A4C4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style37{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #5A4C4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style38{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #5A4C4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_39{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_39:visited{color:#009092; text-decoration:underline;}
.linkStyle_39:hover{color:#FF2600; text-decoration:underline;}
.Style42{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #5A4C4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style43{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #5A4C4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style44{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 margin:0;
 color: #5A4C4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style45{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 color: #5A4C4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style46{font-family:  'TimesNewRomanPS-ItalicMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-style: italic;
 color: #5A4C4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style47{font-family:  'TimesNewRomanPS-ItalicMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-style: italic;
 color: #5A4C4B;
 word-wrap: break-word;}
.Style48{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 color: #5A4C4B;
 word-wrap: break-word;}
.Style49{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 color: #574B4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_50{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_50:visited{color:#009092; text-decoration:underline;}
.linkStyle_50:hover{color:#FF2600; text-decoration:underline;}
.Style53{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 text-decoration: underline;
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_54{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 text-decoration: underline;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_54:visited{color:#009092; text-decoration:underline;}
.linkStyle_54:hover{color:#FF2600; text-decoration:underline;}
.Style57{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #574B4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style58{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 word-wrap: break-word;}
.Style59{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 font-weight:700; 
 color: #574B4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_60{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_60:visited{color:#009092; text-decoration:underline;}
.linkStyle_60:hover{color:#FF2600; text-decoration:underline;}
.Style63{font-family:  'Helvetica-Bold', 'Helvetica' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style64{font-family:  'Helvetica-Bold', 'Helvetica' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 margin:0;
 word-wrap: break-word;}
.Style65{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style66{font-family:  'Helvetica-Oblique', 'Helvetica' ,sans-serif ;
 font-size: 14px; 
 font-style: oblique;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style67{font-family:  'Times-Italic', 'Times' ,serif ;
 font-size: 14px; 
 font-style: italic;
 word-wrap: break-word;}
.Style68{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 14px; 
 word-wrap: break-word;}
.linkStyle_69{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_69:visited{color:#009092; text-decoration:underline;}
.linkStyle_69:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_72{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 14px; 
 margin:0;
 text-decoration: underline;
 color: #584D4C;
 word-wrap: break-word;}
.linkStyle_72:visited{color:#009092; text-decoration:underline;}
.linkStyle_72:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_75{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_75:visited{color:#009092; text-decoration:underline;}
.linkStyle_75:hover{color:#FF2600; text-decoration:underline;}
.Style78{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style79{font-family:  'Times-Italic', 'Times' ,serif ;
 font-size: 14px;
 vertical-align: 4.2px;
 font-style: italic;
 word-wrap: break-word;}
.Style80{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 word-wrap: break-word;}
.Style81{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 word-wrap: break-word;}
.Style82{font-family:  'Helvetica-Oblique', 'Helvetica' ,sans-serif ;
 font-size: 14px; 
 font-style: oblique;
 word-wrap: break-word;}
.Style83{font-family:  'Helvetica-Oblique', 'Helvetica' ,sans-serif ;
 font-size: 9px;
 vertical-align: 2.7px;
 font-style: oblique;
 word-wrap: break-word;}
.linkStyle_84{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_84:visited{color:#009092; text-decoration:underline;}
.linkStyle_84:hover{color:#FF2600; text-decoration:underline;}
.Style87{font-family:  'Helvetica-Oblique', 'Helvetica' ,sans-serif ;
 font-size: 7px;
 vertical-align: -2.1px;
 font-style: oblique;
 word-wrap: break-word;}
.Style88{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 14px; 
 margin:0;
 text-decoration: underline;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style89{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 14px; 
 text-decoration: underline;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style90{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 14px; 
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_91{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_91:visited{color:#009092; text-decoration:underline;}
.linkStyle_91:hover{color:#FF2600; text-decoration:underline;}
.Style94{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 word-wrap: break-word;}
.Style95{font-family:  'Helvetica-Oblique', 'Helvetica' ,sans-serif ;
 font-size: 8px;
 vertical-align: -2.4px;
 font-style: oblique;
 word-wrap: break-word;}
.Style96{font-family:  'Helvetica-Oblique', 'Helvetica' ,sans-serif ;
 font-size: 9px;
 vertical-align: -2.7px;
 font-style: oblique;
 word-wrap: break-word;}
.linkStyle_97{font-family:  'Helvetica' ,sans-serif ;
 font-size: 13px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_97:visited{color:#009092; text-decoration:underline;}
.linkStyle_97:hover{color:#FF2600; text-decoration:underline;}
.Style100{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px;
 vertical-align: 4.2px;
 word-wrap: break-word;}
.para101{font-size: 0; text-align:right; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style102{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style103{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_104{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 margin:0;
 text-decoration: underline;
 color: #797979;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_104:visited{color:#009092; text-decoration:underline;}
.linkStyle_104:hover{color:#FF2600; text-decoration:underline;}
.Style107{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 text-decoration: underline;
 color: #005292;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.Style111{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.para112{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.linkStyle_113{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.linkStyle_113:visited{color:#009092; text-decoration:underline;}
.linkStyle_113:hover{color:#FF2600; text-decoration:underline;}
.Style116{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 color: #574B4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style117{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 margin:0;
 color: #574B4B;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style118{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFE; 
 word-wrap: break-word;}
.Style119{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 36px; 
 font-weight:700; 
 color: #A6A6A6;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style120{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style121{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style122{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_123{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_123:visited{color:#009092; text-decoration:underline;}
.linkStyle_123:hover{color:#FF2600; text-decoration:underline;}
.Style126{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style127{font-family:  'Helvetica' ,sans-serif ;
 font-size: 16px; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style128{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style129{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style122:visited{color:#009092; text-decoration:underline;}
.Style122:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_132{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_132:visited{color:#009092; text-decoration:underline;}
.linkStyle_132:hover{color:#FF2600; text-decoration:underline;}
.Style135{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style136{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style137{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:700; 
 margin:0;
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style138{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style139{font-family:  'Times-Roman', 'Times' ,serif ;
 font-size: 16px; 
 margin:0;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style140{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 margin:0;
 color: #5A4C4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style141{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 color: #5A4C4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style142{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #5A4C4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style143{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #5A4C4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_144{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_144:visited{color:#009092; text-decoration:underline;}
.linkStyle_144:hover{color:#FF2600; text-decoration:underline;}
.Style147{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #5A4C4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style148{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 color: #5A4C4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style149{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 margin:0;
 color: #5A4C4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style150{font-family:  'TimesNewRomanPSMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 color: #5A4C4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style151{font-family:  'TimesNewRomanPS-ItalicMT', 'Times New Roman' ,serif ;
 font-size: 16px; 
 font-style: italic;
 color: #5A4C4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style152{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 color: #574B4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_153{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_153:visited{color:#009092; text-decoration:underline;}
.linkStyle_153:hover{color:#FF2600; text-decoration:underline;}
.Style156{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 text-decoration: underline;
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_157{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 text-decoration: underline;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_157:visited{color:#009092; text-decoration:underline;}
.linkStyle_157:hover{color:#FF2600; text-decoration:underline;}
.Style160{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 margin:0;
 color: #574B4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style161{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 font-weight:700; 
 color: #574B4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_162{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_162:visited{color:#009092; text-decoration:underline;}
.linkStyle_162:hover{color:#FF2600; text-decoration:underline;}
.Style165{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style166{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 font-style: italic;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style167{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.linkStyle_168{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #005292;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #009092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_168:visited{color:#009092; text-decoration:underline;}
.linkStyle_168:hover{color:#FF2600; text-decoration:underline;}
.Style171{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 font-style: italic;
 word-wrap: break-word;}
.Style172{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px;
 vertical-align: 4.2px;
 font-style: italic;
 word-wrap: break-word;}
.Style173{font-family:  'Helvetica' ,sans-serif ;
 font-size: 9px;
 vertical-align: 2.7px;
 word-wrap: break-word;}
.linkStyle_174{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 text-decoration: underline;
 color: #584D4C;
 word-wrap: break-word;}
.linkStyle_174:visited{color:#009092; text-decoration:underline;}
.linkStyle_174:hover{color:#FF2600; text-decoration:underline;}
.Style177{font-family:  'Helvetica-Oblique', 'Helvetica' ,sans-serif ;
 font-size: 14px; 
 font-style: oblique;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style178{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px;
 vertical-align: -3.6px;
 word-wrap: break-word;}
.Style179{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 margin:0;
 text-decoration: underline;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style180{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 text-decoration: underline;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style181{font-family:  'Helvetica' ,sans-serif ;
 font-size: 8px;
 vertical-align: -2.4px;
 word-wrap: break-word;}
.Style182{font-family:  'Helvetica' ,sans-serif ;
 font-size: 9px;
 vertical-align: -2.7px;
 word-wrap: break-word;}
.Style183{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #574B4B;
 background-color: #FFFEFF; 
 word-wrap: break-word;}
.Style184{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 color: #584D4C;
 background-color: #FFFEFF; 
 word-wrap: break-word;}